<script type="text/javascript">
    RED.nodes.registerType('acm-sync',{
        category: 'ACM',
        color: '#a6bbcf',
        defaults: {
            name: { value: "" },
            payload: { value: [], validate: RED.validators.typedInput("json") },
            delay: { value: 500 },
            conflictID: { value: "unset" },
            brokerAddress: {value: "unset"},
            conditionToTrigger : {value: "unset"}
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"acm-sync";
        },
        oneditprepare: function () {
            $("#node-input-payload").typedInput({
                default: 'json'
            });

            $("#node-input-payload").typedInput('type', "json");
        },
    });
</script>

<script type="text/x-red" data-template-name="acm-sync">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-payload"><i class="fa fa fa-asl-interpreting"></i> Flags</label>
        <input type="text" id="node-input-payload" style="width:70%">
    </div>
    <div class="form-row">
        <label for="node-input-delay"><i class="icon-tag"></i> delay</label>
        <input type="text" id="node-input-delay" style="width:70%">
    </div>
    <div class="form-row">
        <label for="node-input-conflictID"><i class="icon-tag"></i> conflictID</label>
        <input type="text" id="node-input-conflictID" style="width:70%">
    </div>
    <div class="form-row">
        <label for="node-input-conditionToTrigger"><i class="icon-tag"></i> conditionToTrigger</label>
        <input type="text" id="node-input-conditionToTrigger" style="width:70%">
    </div>
    <div class="form-row">
        <label for="node-input-brokerAddress"><i class="icon-tag"></i> brokerAddress</label>
        <input type="text" id="node-input-brokerAddress" style="width:70%">
    </div>
</script>

<script type="text/x-red" data-help-name="acm-sync">
    <p>ACM sync node</p>
</script>