<script type="text/javascript">
    RED.nodes.registerType('acm-monitor',{
        category: 'ACM',
        color: '#a6bbcf',
        defaults: {
            name: { value: "" },
            montype: { value: "" },
            source: { value: "" },
            destination: { value: "" },
            action: { value: "log" },
            mqttAddress: { value: "unset" }
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"acm-monitor";
        }
    });
</script>

<script type="text/x-red" data-template-name="acm-monitor">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-montype"><i class="icon-tag"></i> montype</label>
        <input type="text" id="node-input-montype" placeholder="montype">
    </div>
    <div class="form-row">
        <label for="node-input-source"><i class="icon-tag"></i> source</label>
        <input type="text" id="node-input-source" placeholder="source">
    </div>
    <div class="form-row">
        <label for="node-input-destination"><i class="icon-tag"></i> destination</label>
        <input type="text" id="node-input-destination" placeholder="destination">
    </div>
    <div class="form-row">
        <label for="node-input-action"><i class="icon-tag"></i> action</label>
        <input type="text" id="node-input-action" placeholder="action">
    </div>
    <div class="form-row">
        <label for="node-input-mqttAddress"><i class="icon-tag"></i> mqttAddress</label>
        <input type="text" id="node-input-mqttAddress" placeholder="mqttAddress">
    </div>
</script>

<script type="text/x-red" data-help-name="acm-monitor">
    <p>ACM Monitor</p>
</script>