<script type="text/javascript">
    RED.nodes.registerType('acm-tag',{
        category: 'ACM',
        color: '#a6bbcf',
        defaults: {
            name: { value: "" },
            tag: { value: "unset" }
        },
        inputs:1,
        outputs:1,
        icon: "file.png",
        label: function() {
            return this.name||"acm-tag";
        }
    });
</script>

<script type="text/x-red" data-template-name="acm-tag">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-tag"><i class="icon-tag"></i> Tag</label>
        <input type="text" id="node-input-tag" placeholder="Tag">
    </div>
</script>

<script type="text/x-red" data-help-name="acm-tag">
    <p>Tags messages for use in ACMs</p>
</script>