<script type="text/javascript">
    RED.nodes.registerType("acm", {
        category: 'ACM',
        color: '#a6bbcf',
        defaults: {
            name: { value: "" },
            strategy: { value: "{}" },
            outputs: { value: 1 },
            cleanOutput: {value: true}
        },
        inputs: 1,
        outputs: 1,
        icon: "file.png",
        label: function () {
            return this.name || "acm";
        },
        oneditprepare: function () {
            this.editor = RED.editor.createEditor({
                id: 'node-input-strategy-editor',
                mode: 'ace/mode/json',
                value: JSON.stringify(JSON.parse($("#node-input-strategy").val()), null, '\t'),
                globals: {
                    msg: true,
                    context: true,
                    RED: true,
                    util: true,
                    flow: true,
                    global: true,
                    console: true,
                    Buffer: true,
                    setTimeout: true,
                    clearTimeout: true,
                    setInterval: true,
                    clearInterval: true
                }
            });
        },
        oneditsave: function () {
            $("#node-input-strategy").val(JSON.stringify(JSON.parse(this.editor.getValue())));
            this.editor.destroy();
            delete this.editor;
        },
        oneditcancel: function () {
            this.editor.destroy();
            delete this.editor;
        },
        oneditresize: function (size) {
            var rows = $("#dialog-form>div:not(.node-text-editor-row)");
            var height = $("#dialog-form").height();
            for (var i = 0; i < rows.length; i++) {
                height -= $(rows[i]).outerHeight(true);
            }
            var editorRow = $("#dialog-form>div.node-text-editor-row");
            height -= (parseInt(editorRow.css("marginTop")) + parseInt(editorRow.css("marginBottom")));
            $(".node-text-editor").css("height", height + "px");
            this.editor.resize();
        }
    });
</script>

<script type="text/x-red" data-template-name="acm">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-outputs"><i class="icon-tag"></i> outputs</label>
        <input type="text" id="node-input-outputs" placeholder="outputs">
    </div>
    <div class="form-row">
        <label>&nbsp;</label>
        <input type="checkbox" id="node-input-cleanOutput" placeholder="" style="display:inline-block; width:auto; vertical-align:top;">
        <label for="node-input-cleanOutput" style="width:70%;">Remove all the extra payloads from output?</label>
    </div>
    <div class="form-row" style="margin-bottom: 0px;">
        <label for="node-input-func"><i class="fa fa-wrench"></i> <span>Strategy</span></label>
        <input type="hidden" id="node-input-strategy" autofocus="autofocus">
        <input type="hidden" id="node-input-noerr">
    </div>
    <div class="form-row node-text-editor-row" style="position:relative">
        <div style="position: absolute; right:0; bottom:calc(100% + 3px);"><button id="node-function-expand-js" class="red-ui-button red-ui-button-small"><i class="fa fa-expand"></i></button></div>
        <div style="height: 250px; min-height:150px;" class="node-text-editor" id="node-input-strategy-editor"></div>
    </div>
</script>

<script type="text/x-red" data-help-name="acm">
    <p>ACM core logic node</p>
</script>